<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

    <title>亲,您访问的页面找不到了</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

    <!-- <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
     <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>-->

</head>
<!-- //Head -->

<!-- Body -->
<body>

<section class="main">

    <div class="bottom-grid">
        <div class="logo">
            <h1> <a href="#">500 Bad Request</a></h1>
        </div>
    </div>
    <div class="content-w3ls">


        <div class="text-center icon">
            <span class="fa fa-meetup"></span>
        </div>

    </div>
    <div class="copyright">
        <p>© 2022 Meetup signin form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a> </p>
    </div>
</section>

</body>
<!-- //Body -->

</html>
